.header-container {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  height: 80px;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.app-name {
  font-size: 36px;
  font-weight: 400;
  margin-left: 40px;
  word-spacing: 4px;
}

.ba-tur {
  color: #6c757d;
  font-size: 36px;
}

.capital-x {
  color: #e77816;
  font-size: 44px;
  word-spacing: 2px;
}

.hamburger-icon {
  margin-left: auto;
  margin-right: 40px;
  cursor: pointer;
  margin-top: 10px;
}

.hamburger-icon svg {
  width: 40px;
  height: 40px;
  color: #6c757d;
}
